@import "./mixin";
@import "./color";

@media only screen and (min-width: $breakpoint_sm) {
  .btn {
    min-width: 100px;
  }
  .dropdownUser {
    .dropdown-menu {
      top: -7px !important;
      width: 100%;
    }
    .dropdown-toggle {
      background-color: white;
      color: #000;
      border-color: white;
    }
    .btn-success {
      &:hover {
        background-color: white;
        color: #000;
        border-color: white;
      }
      &:not(:disabled):active {
        &:not(.disabled):active:focus {
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
        }
        background-color: white;
        color: #000;
        border-color: white;
      }
      &:focus {
        background-color: white;
        color: #000;
        border-color: white;
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
      }
    }
    &.show > .btn-success.dropdown-toggle {
      background-color: white;
      color: #000;
      border-color: white;
    }
    .btn-success:not(:disabled):not(.disabled):active {
      background-color: white;
      color: #000;
      border-color: white;
    }
    &.show > .btn-success.dropdown-toggle:focus {
      background-color: white;
      color: #000;
      border-color: white;
      box-shadow: 0 0 0 0.2rem rgba(90, 90, 90, 0.5);
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    // position: fixed;
    // top: 0;

    .header__icon {
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
    }

    .header__info {
      display: flex;
      flex-direction: row;

      .header__customer {
        border-right: 1px solid $font_grey_01;
        padding-right: 10px;
        .header__login {
          display: flex;
          align-items: center;
          color: #000;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
          }

          &:hover {
            text-decoration: none;
            color: #dd4b39;
          }
        }
      }

      .header__position {
        display: flex;
        align-items: center;
        padding-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint_sm - 1px) {
}
